/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(200,200,200);
    color: black;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: rgb(0,0,0);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
    clear:both;
    color:black;
}


/* Animaties */

.hoofdtitel{
    animation: pulse 2s infinite
}

@keyframes pulse{
    0%, 100%{
        color: rgb(0,200,200);
    }

    20%{
        color:rgb(35,100,91):
    }

    40%{
        color: rgb(255, 102, 0);
    }

    60%{
        color: rgb(200,0,0);
    }
    80%{
        color: rgb(137, 0, 200)
    }
}

/* Plaatjes */
img.zweefLinksHome{
    float:left;
    margin-top: 30px;
    width:315px;
}

img.zweefRechtsHome {
    float:right;
    margin-top: 30px;
    width:315px
}

img.zweefLinks{
    float:left;
    margin: 25px;
    width:315px
}

img.zweefRechts{
    float:right;
    margin-left: 10px;
    margin-bottom: 10px;
    width:315px
}

img.zweefRechtslang{
   float:right;
    margin: 10px;
    height: 400px;
}

img.zweefLinkslang{
   float:left;
    margin-top: 40px;
    height: 400px;
}

/* specifieke stijlen */

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



h2{
    background-color: rgb(0, 175, 255);
    padding-top: 2%;
    padding-bottom: 2%;
}

div {
    border: outset;
}

table{
    background-color: rgb(0,100,255);
    border:solid;
    border-color: skyblue;
}

td{
    background-color: rgb(0,200,200)
}

span.titlelist{
    font-weight:bold;
}

/* Tekst */

div.TextlHome{
    margin-top: 20px;
    width:310px;
    float:left;
    font-size: 20px;
    position: relative;
    color: black;
    border: inset;
    background-color: rgba(0, 100, 255, 0.5);
}

div.TextrHome{
    width: 315px;
    float:right;
    font-size: 20px;
    position: relative;
    clear: both;
    color: black;
    border: inset;
    background-color: rgba(0, 100, 255, 0.5);
}

div.Textl{
    width:320px;
    float:left;
    position: relative;
    clear:both;
    border: inset;
    padding: 2%;
}

div.Textr{
    width: 320px;
    float:right;
    position: relative;
    clear:both;
    border: inset;
    padding: 2%;
}


/* Enkele Id's en classes */

#Crunchyroll{
    color: #FFA500;
}

#Funimation{
    color: rgb(200,0,200);
}

#Netflix{
    color: rgb(200,0,0);
}

#Twist{
    color: rgb(0,0,100)
}

#hoofdtitel{
    color:skyblue;
}

.lijst-aanraders{
    background-color: rgb(0,100,255);
    width: 40%;
    padding: 3%;
    border: double;
}

#aanraders{
    background-color: rgba(0, 100, 255, 0.7);
    font-weight: bold;
}

/* navigatiebalk */

nav ul {
    list-style-type: none;
    margin: auto;
    padding: 5px;
    background-color: rgb(0,100,200);
    overflow: hidden;
}

nav ul li {
    float: left;
    width: 20%;
}

nav li a {
    display: block;
    color: rgba(50,50,50);
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgba(0, 200, 167, 0.400);
}

nav li a.active {
    background-color:rgba(255,255,255,0.4);
}




